.carousel-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.carousel {
  height: 2vh;
  background-color: #181818;
  justify-self: center;
  margin: 2.5%;
  padding: 0.4vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.project-dot {
  height: 1vh;
  width: 1vh;
  background-color: #d9d9d9;
  border-radius: 20px;
  margin: 1vh 0.5vh;
  transition: all 0.1s;
}

.project-dot:hover {
  opacity: 0.6;
}

.arrow-container {
  margin-left: -5%;
}

.arrows {
  height: 2vh;
  display: flex;
  width: fit-content;
}

.arrow {
  height: 2.5vh;
  width: 2.5vh;
  background-color: #181818;
  border-radius: 20px;
  display: flex;
}

.arrow > img {
  width: 30%;
  height: auto;
  margin: auto;
}
