.contact-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: 10% 0%;
  flex-wrap: wrap;
  align-items: center;
}

.social-media {
  text-align: left;
  width: 42%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: 150%;
  height: 42%;
  padding: 2%;
  margin: 2%;
  box-sizing: border-box;
}

.social-tab-container {
  display: flex;
  flex-direction: row;
}

.social-tab {
  width: 80%;
  aspect-ratio: 1;
  margin: auto;
  display: flex;
  border-radius: 20%;
  transition: all 0.5s;
  background-color: #090b08;
}

.social-tab:hover {
  background-color: gray;
  width: 100%;
}

.social-media-logo {
  width: 44%;
  margin: auto;
  height: auto;
}

.map-container {
  height: 100%;
  background-color: #181818;
  width: 42%;
  border-radius: 10px;
  font-size: 150%;
  text-align: left;
  /* overflow: hidden; */
  padding: 2%;
  margin: 2%;
  box-sizing: border-box;
}

.resume-container {
  display: flex;
  text-align: left;
  background-color: #181818;
  border-radius: 10px;
  font-size: 150%;
  height: 42%;
  width: 42%;
  flex-direction: column;
  padding: 2%;
  margin: 2%;
  box-sizing: border-box;
}
.resume-button {
  background-color: white;
  margin: auto;
  color: black;
  border: 0;
  border-radius: 50px;
  width: 90%;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 70%;
  height: 40%;
}
