.contact-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: 10% 0%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  text-align: left;
  width: 34%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: 1.2vw;
  height: 44%;
  padding: 3%;
  box-sizing: border-box;
}

.social-tab-container {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
}

.social-tab {
  flex: 1;
  margin: 2px;
  aspect-ratio: 1;
  display: flex;
  border-radius: 20%;
  transition: all 0.5s;
  background-color: #090b08;
}

.social-tab:hover {
  background-color: gray;
  scale: 1.1;
}

.social-media-logo {
  width: 44%;
  margin: auto;
  height: auto;
}

.map-container {
  height: 100%;
  background-color: #181818;
  width: 54%;
  border-radius: 10px;
  font-size: 1.2vw;
  text-align: left;
  /* overflow: hidden; */
  padding: 3%;
  box-sizing: border-box;
}

.resume-container {
  display: flex;
  text-align: left;
  background-color: #181818;
  border-radius: 10px;
  font-size: 1.2vw;
  height: 44%;
  width: 34%;
  flex-direction: column;
  padding: 3%;
  box-sizing: border-box;
}
.resume-button {
  background-color: white;
  margin: auto;
  color: black;
  border: 0;
  border-radius: 50px;
  width: 90%;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 70%;
  height: 40%;
  transition: all 0.5s;
}

.resume-button:hover {
  color: white;
  background-color: #090b08;
}

/* :root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
    saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
  .map-tiles {
    filter: var(--map-tiles-filter, none);
  }
} */

@media (max-width: 452px) {
  .contact-section {
    height: 20vh;
  }
  .resume-container {
    font-size: 3vw;
  }
  .social-media {
    font-size: 3vw;
  }
  .map-container {
    font-size: 3vw;
  }
}
