.job-container {
  color: white;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 15vh;
  width: 70%;
  vertical-align: middle;
}

.job-date {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  /* margin: 5%; */
  font-size: 0.6vw;
}

.job-spacer-logo-container {
  width: 10%;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
}

.line-spacer {
  height: 33.33%;
  aspect-ratio: 1;
  margin: auto;
}

.job-spacer {
  width: 0.1vh;
  background-color: white;
  height: 100%;
  margin: auto;
}

.job-logo {
  height: 33.3%;
  aspect-ratio: 1;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 500px;
}

#job-logo {
  width: 75%;
  height: auto;
  margin: auto;
}

.job-information {
  width: 100%;
  height: 30%;
  text-align: left;
}

.job-information > p {
  font-size: 100%;
  width: 100%;
}

.job-information > h3 {
  text-align: left;
  font-size: 150%;
}

.job-description {
  text-align: left;
  width: 100%;
  display: flex;
  height: 60%;
  flex-wrap: wrap;
}

.job-description > p {
  font-size: 100%;
  margin-top: 15px;
  width: 100%;
  overflow: hidden;
}

.tool-container {
  display: flex;
  height: 10%;
}

#job-tools {
  font-size: 1em;
}

.tab {
  margin: 0px 10px 0px 0px;
  height: fit-content;
  width: fit-content;
}

.job-spacer-space {
  width: 70%;
  display: flex;
}

.job-spacer-left {
  width: 20%;
  height: 100%;
}

.job-spacer-right {
  width: 70%;
  height: 100%;
}

.job-spacer-line {
  height: 15vh;
  width: 10%;
}

#ws {
  width: 67%;
  height: 97%;
  background-color: #181818;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 3%;
}
