.job-container {
  color: white;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70%;
  height: 30vh;
  align-items: center;
  animation: fadeInLeft 0.5s;
  transition: all 1s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate(100%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

.job-date {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 100%;
  /* margin: auto; */
}

.job-date > p {
  display: flex;
}

.job-spacer-logo-container {
  width: 10%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.line-spacer {
  width: 10%;
  flex: 1;
  margin: auto;
}

.job-spacer {
  width: 0.1vh;
  background-color: white;
  height: 100%;
  margin: auto;
}

.job-logo {
  width: 80%;
  aspect-ratio: 1;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 500px;
}

#job-logo {
  width: 75%;
  height: auto;
  margin: auto;
}

.job-information {
  width: 100%;
  height: 30%;
  text-align: left;
}

.job-information > p {
  font-size: 0.8vw;
  margin: 0.1% 0% 1% 0%;
  width: 100%;
}

.job-information > h3 {
  text-align: left;
  font-size: 150%;
}

.job-description {
  text-align: left;
  width: 100%;
  display: flex;
  height: 60%;
  flex-wrap: wrap;
}

.job-description > p {
  font-size: 0.8vw;
  width: 100%;
  margin: 1% 0% 1% 0%;
}

.tool-container {
  display: flex;
  height: 10%;
}

.tab-tool {
  border-radius: 10px;
  background-color: #090b08;
  width: min-content;
  padding: 8px;
  margin: 2% 2% 1% 0%;
  font-size: 0.8vw;
}

.job-spacer-space {
  width: 70%;
  display: flex;
}

.job-spacer-left {
  width: 20%;
  height: 100%;
}

.job-spacer-right {
  width: 70%;
  height: 100%;
}

.job-spacer-line {
  height: 15vh;
  width: 10%;
}

#ws {
  width: 65%;
  height: fit-content;
  background-color: #181818;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

@media (max-width: 930px) {
  .job-information > h3 {
    font-size: 3vw;
  }
  .job-information > p {
    font-size: 1.5vw;
  }
  .job-description > p {
    font-size: 1.5vw;
  }
}
